<h2 mat-dialog-title>Editar Producto</h2>
<mat-dialog-content>
  <form [formGroup]="clientForm">
    <mat-form-field>
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="name">
      <mat-error *ngIf="clientForm.get('name')?.invalid">El nombre es requerido.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Apellidos </mat-label>
      <input matInput type="text" formControlName="last_name">
      <mat-error *ngIf="clientForm.get('last_name')?.invalid">Apellido Materno y Paterno</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput type="email" formControlName="email">
      <mat-error *ngIf="clientForm.get('email')?.invalid">Ingrese un correo valido</mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="close()">Cancelar</button>
  <button mat-button (click)="save()" [disabled]="clientForm.invalid">Guardar</button>
</mat-dialog-actions>