/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.success-snackbar {
    --mdc-snackbar-container-color: #4CAF50;
    --mdc-snackbar-supporting-text-color: white;
    --mat-mdc-snack-bar-button-color: white;
  }
  
  .error-snackbar {
    --mdc-snackbar-container-color: #F44336;
    --mdc-snackbar-supporting-text-color: white;
    --mat-mdc-snack-bar-button-color: white;
  }